.todo-list {
    list-style: none;
    padding: 0;
}

.todo-list li {
    height: 2.5em;
}

.todo-list li:nth-child(odd) {
    background-color: #daf5da;
}

.todo-list-header {
    display: flex;
    height: 2em;
    align-items: center;
    justify-content: center;
    background: #5d965d;
    border-top: solid .5em #fff;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.todo-list-add-todo-button {
    display: flex;
    margin-left: 1em;
}
